* {
    margin: 0;
    padding: 0%;
}

#titulo {
    font-family: sans-serif;
    color: black;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: black;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button {
    border-radius: 5px;
}

.campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #65daf9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 14px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: white;
}

.botao {
    font-size: 1.2em;
    background: #65daf9;
    color: white;
    border: 0;
    margin-bottom: 1em;
    margin: 3px;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.botao:hover {
    background: #65daf9;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.area-texto {
    height: 200px;
}
