/* Gerais */
body {
    font-family: "Roboto", sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
    padding: 10px;
}
a {
    padding: 10px;
}

/* Barra de navegação */
header,
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 0.8rem;
}

.nav-item.active {
    border-bottom: 3px solid #fff;
}

/* Portfólio */

.main-title {
    color: #444;
    padding: 0;
    margin: 0 0 0 0;
    margin-top: 10rem;
    font-size: 40px;
    text-align: center;
}

#services-area {
    background-color: rgb(220, 220, 220);
}

.box-portfolio {
    display: flex;
    align-items: center;
}

.img-portfolio-left,
.img-portfolio-right {
    position: relative;

    right: 12px;
    width: 36.5rem;
    height: 21.6rem;
}
/* Posições */
.img-portfolio-right {
    position: relative;
    left: 100%;
}

.text-position-right {
    position: relative;
    left: 1em;
    text-align: center;
    margin-top: 5rem;
}

.text-position-left {
    position: relative;
    right: 36em;
    text-align: center;
    margin-top: 5rem;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* Outros Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
    transition: 0.5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i,
.service-box:hover > h4 {
    color: #65daf9;
}

/* responsive */
@media (max-width: 1200px) {
    /* geral */
    .container {
        padding: 20px 0;
    }

    /* Sobre */
    #about-area img {
        margin-top: 100px;
    }

    /* Entre na equipe */
    #apply-area .apply-box {
        padding: 50px 25px;
    }

    /* Portfolio */
    #services-area img {
        margin-top: 100px;
        width: 100%;
    }

    .center {
        padding: 0;
    }

    #services-area .img-portfolio-right {
        position: relative;
        left: 0;
    }

    #services-area .img-portfolio-left {
        position: relative;
        left: 0;
    }

    #services-area .text-position-right {
        position: relative;
        left: 0;
    }

    #services-area .text-position-left {
        position: relative;
        left: 0;
    }

    .contact-box {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid #3ec1d5;
    }

    .contact-box i {
        color: #444;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .contact-box p {
        font-size: 16px;
    }

    .footer__title {
        font-weight: bold;
        color: #3ec1d5;
    }

    /* Footer */
    #footer {
        text-align: center;
    }
    .footer__social {
    }
}

@media (max-width: 425px) {
    /* slider */
    #mainSlider {
        margin-top: 90px;
    }

    #mainSlider .carousel-caption {
        top: 5%;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p {
        display: none;
    }

    .carousel-caption .main-btn {
        font-size: 14px;
    }

    /* Sobre */
    .main-title {
        font-size: 30px;
    }

    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* Entre na equipe */
    #apply-area {
        height: auto;
    }

    #img-empresa {
        display: none;
    }
}
